<h2>Cadastro de produto</h2>

<label>Nome do produto:</label>

<input
  type="text"
  [(ngModel)]="nomeProduto"
  placeholder="Digite o nome">

<br><br>

<label>Quantidade:</label>

<input
  type="number"
  [(ngModel)]="quantidadeProduto"
  min="0">

<br><br>

<button (click)="cadastrar()">
  Cadastrar
</button>

<p *ngIf="mensagemErro">
  {{ mensagemErro }}
</p>

<hr>

<h2>Produtos cadastrados</h2>

<p *ngIf="produtos.length === 0">
  Nenhum produto cadastrado.
</p>

<ul>

  <li *ngFor="let produto of produtos; let i = index">

    {{ produto.nome }} - Quantidade: {{ produto.quantidade }}

    <button (click)="excluir(i)">
      Excluir
    </button>

  </li>

</ul>